@import "steel-bootstrap/src/_variables";
@import "steel-bootstrap/src/_mixins";

/* Tooltip
	 ========================================================================== */

.tooltip-inner {
	background: $white;
	border-radius: $border-radius-base;
	border: 1px solid rgba($secondary, 0.12);
	box-shadow: $shadow-large;
	color: rgba($secondary, .7);
	display: inline-block;
	font-size: 12px;
	max-width: none;
	padding: 8px 12px;
	position: absolute;
}

.tooltip-arrow {
	display: none;
}
